.pri-color{
	color: #eb5d1e !important;
}
.pri-bg{
	background: #eb5d1e !important;
}
.sec-color{
    color: #7a6960 !important;
}
.hover:hover{
	color: #eb5d1e !important;
}
.fs-10{
	font-size: 3rem !important;
	font-weight: 700 ;
}
.head-color{
	color: #c2b7b1 !important;
}
#c2b7bl{
	color: #c2b7b1 !important;
}
#header a:hover{
	color: #eb5d1e !important;	
}
#header{
	position: sticky;
	top: 0;
	z-index: 1;
}

/*----------Banner Start----------*/

#banner{
	background: #fef8f5;
    border-bottom: 2px solid #fcebe3;
}
#banner img{
	position: relative;
	animation: mymove 2s infinite;
}
@keyframes mymove{
	from {bottom: 0px;}
	to {bottom: 15px};
}
/*------------services section Start------------*/

#services{
	background: #fef8f5;
}
#services .trans-y{
}
#services .trans-y:hover{
	border-bottom: 3px solid #eb5d1e;
	transform: translatey(-5px);
	transition: 0.2s ease;
	margin-top: -15px;
}
@media (min-width:782px){
	.service-bottom{
		padding-bottom: 1.5rem;
	}
}
@media (min-width:425px){
	.service-bottom{
		padding-bottom: 1rem;
	}
}
@media (min-width:320px){
	.service-bottom{
		padding-bottom: 2rem;
	}
}
/*-------------Services section End-------------*/

/*-------------Portfolio section start-------------*/

.a-tag li{
	cursor: pointer !important;
}
.a-tag li:hover{
	color: #eb5d1e !important;
	transition: 0.5s ease;
}
#portfolio img{
	border-radius: 10px;
}
#portfolio .p-img{
	position: relative;
}
#portfolio .p-img::before{
	content:" ";
	position: absolute;
	width: 0%;
	background: #8d808090;
	top: 8px;
	right: 11px;
	transition: all 0.4s;
}
#portfolio .p-img:hover::before{
	width: 94%;
	bottom: 8px;
	border-radius: 10px;
}
.p-img .p-img-content{
	position: absolute;
	color: white;
	top: 9px;
	left: 11px;
	right: 11px;
	bottom: 9px;
	opacity: 0;
}
.p-img .p-img-content:hover{
	opacity: 1;
	transition: all 0.4s;
}
.p-img-icon i{
	background: white;
	border-radius: 50%;
	padding: 0px 3.5px;
}

/*-------------Portfolio end-------------*/
/*===team hover===*/
.teamhead h5{
	font-size:2rem !important;
	font-weight:700 !important;
	color:#c2b7b1 !important;
}
.teamhead h2{
	color:#4e4039 !important;
	font-size:2rem !important;
	font-weight:700 !important;

}
.teamhead h2::after{
	content:"";
	position:relative;
	width:60px;
	height:4px;
	background-color:#eb5d1e;
	display:flex;
	justify-content:center;
	align-items:center;
	left:47%;
	top:20px;
}
.teamimage{
	display:flex !important;
	flex-wrap:wrap !important;
	width:100% !important;
	justify-content:space-between !important;
}
.team1{
	width:100% !important;
	height:auto !important;
	margin-bottom:1rem !important;
	position:relative;
	width:100%;
}
.teaminfo{
	width:100%;
	height:auto;
}
.teamname{
	position:absolute;
	opacity:0;
	top:0;
	right:10px;
	bottom:-10px;
	left:10px;
	text-align:center;
	background:linear-gradient(rgba(78, 64, 57, 0.1),rgba(78, 64, 57, 0.8));
	color:white;
	padding-top:160px;
	line-height:1.5;	
}
.team1:hover .teamname{
	opacity:1;
	bottom: 0px;
	transition:all 0.2s ease;
}
.teamicon{
	position:absolute;
	opacity:0;
	top:0;
	right:10px;
	bottom:0;
	left:-25px;
	width:35px;
	display:flex;
	justify-content: space-around;
	flex-direction:column;
	background-color:#4e403987;
}
.teamicon iconify-icon{
	padding:10px;
	font-size:1.2rem;
	color:#fff;
}
.teamicon iconify-icon:hover{
	color: #eb5d1e;
}
.team1:hover .teamicon{
	opacity:1;
	left:11px;
	transition: ease all 0.4s;
}
@media(min-width:768px){

.team1{
		width:50% !important;
		height:auto !important;
		margin-bottom:1rem !important;
}
}
@media(min-width:1024px){

.team1{
		width:25% !important;
		height:auto !important;
		margin-bottom:1rem !important;
}
}
/* .t-img{ */
	/* text-align: center; */
    /* position: relative; */
    /* overflow: hidden; */
	/* z-index:0; */
	
/* } */
/* .t-img:hover .member-info{ */
	/* opacity: 1;	 */
/* } */
/* .member-info{ */
    /* text-align: center; */
    /* margin-bottom: 20px; */
    /* background: #343a40; */
    /* position: relative; */
    /* overflow: hidden; */
    /* top: -305px; */
    /* left: 0px; */
    /* height: 305px; */
	/* opacity: 0; */
    /* position: absolute; */
    /* bottom: 0; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* transition: 0.2s; */
	/* background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)); */
/* } */
/* .social{ */
	/* background-color:rgba(0,0,0,0.7); */
	/* color:#fff; */
	/* padding:10px 15px; */
/* } */
/* .social i{ */
	/* display:block; */
	/* margin-top:15px; */
/* } */
/* @media(min-width:390px){ */
	/* .member-info2 */
	/* { */
	/* bottom: 21px; */
    /* right: 92px; */
	/* } */
/* } */
/* @media(min-width:1024px){ */
/* .member-info2{ */
	/* position:absolute; */
	/* bottom:12px; */
	/* right:20px; */
	/* color:#fff; */
/* } */
/* } */


/*-------------faq start-------------*/
#faq{
	background: #fef8f5;
}
#faq button:hover{
	color: #eb5d1e !important;
}
/*-------------faq end-------------*/


/*-------------Client section start-------------*/
#clients{
	background: #fef8f5;
}
#clients img{
    width: 80px;
    filter: contrast(0.5);
}
#clients img:hover{
	filter: contrast(100%);
}
/*-------------Client section end-------------*/


/*-------------Client section end-------------*/
#contacts i{
	background: #fdf1ec;
	padding: 6px 10px;
	color: #eb5d1e;
	border-radius: 50%;
}
#contacts .b-ho:hover i{
	color: white;
	background: #eb5d1e;
}
.bor-bot-color{
	border-bottom: 3px solid #eb5d1e;
}
.bor-top-color{
	border-top: 3px solid #eb5d1e;
}
/* ************** */
.foot-2 .iconlast iconify-icon{
	height:44px;
	width:44px ;
	display:flex ;
	border-radius:50% ;
	justify-content:center;
	align-items:center ;
	color:white ;
	background-color:#EB5D1E ;
}
#use-link {
	margin-left:-2rem ;
}
.iconlast li{
	padding:0.2rem ;
}
/*-------------Client section end-------------*/
#join{
	background: #fef8f5;
}
#foot ul li{
	list-style: none;
}
#foot a{
	text-decoration: none;
}
#footer-btm{
	background: #fef8f5;
}
.after-line:after{
	content: " ";
	position: relative;
	margin: auto;
	display: flex;
	background: #eb5d1e;
	border: 2px;
	height: 2px;
	width: 4rem;
	top: 10px;
}